
# Verification Status

## Enumeration

`VerificationStatus`

## Fields

| Name |
|  --- |
| `PendingVerification` |
| `Unverified` |
| `Verified` |

